@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=Syncopate:wght@400;700&family=Telex&display=swap');

:root{
  --white-color: #e0e0ce ;
  --red--color: #AD343e;
  --grey-color: #807f7f;
  --yellow-color: #f2af29;
  --black-color: #131313;
  --background: #272727;
  --yellowneon: #f3ba58;
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --shadow_text: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  
}

.flex_row {
  display: flex;
  flex-direction: row;
}


body {
    margin: 0;
    background: var(--background);
    font-family: "Telex", sans-serif;
    letter-spacing: 2px;
    
  }
  
.navbar li{
  list-style: none;
}

h1,h3{
  font-family: "Syncopate", sans-serif;
}



i{
  color: var(--red--color);
}

.section_1{
  max-width: auto;
  height: 100vh;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /*
    background: url(/images/header_navbar/background_1.png) no-repeat center;
  
  align-items: center;
  justify-content: center;
  background-size: cover;
  
  */
}
  

header {
  position: relative;
  margin: 0 3rem;
  flex-basis:10%;
}

.navbar{
  height: 80px;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color:var(--white-color) ;
  padding: 0 3rem;
  margin: 3em auto 1rem auto;
  border-radius: 2em;
}

.navbar .logo a{
  text-decoration: none;
  color: var(--black-color);
  font-size: 2em;
}

a{
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.2em;
  font-family: "Kreon", serif;
}

a.active{
  color: var(--red--color);
}

a:hover{
  color:  var(--red--color);
}

.navbar .links{
  display: flex;
  gap: 2em;
}

.navbar .toggle_btn{
  color: antiquewhite;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


/* dropdown */
.dropdown_menu{
  display: none;
  height: 0;
  width: 100%;
  background-color: var(--white-color);
  backdrop-filter: blur(3em);
  -webkit-backdrop-filter: blur(3em);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* important for put class in side dropdown*/

.dropdown_menu.open{
  height: 260px;
  padding: 2em 0em;
}

.dropdown_menu li{
  padding: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* section 2 text header */
.text_header{
  flex-basis:90%;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
}

.text_header .col1 ul{
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.text_header .col1 li{
  list-style: none;
}

.text_header .col1 i{
  background-color: var(--white-color);
  padding: .8em;
  border-radius: 2em;
  font-size: 1.5em;
}

.text_header .col1 i:hover{
  background-color: var(--yellowneon);
}
.text_header .col2{
  margin: 2.5em auto ;

}

.text_header .col2 h1{
  color: var(--white-color);
  font-size: 5em;
  line-height: 1.8em;
}


.text_header .col2 span{
  color: var(--yellow-color);
}

.text_header .col2 h4{
  color: var(--grey-color);
  font-size: 1.8em;
  padding: 1em auto;
}

/* section 2 */
.section_2{
  max-width: auto;
  margin: auto;
  min-height: auto;
  padding: 20em 0;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  flex-direction: column;
  background: url(/images/header_navbar/profile_picture_1.jpg) no-repeat center top;
  background-attachment: fixed;
  color: var(--white-color);
  background-size: cover;
}

.section_2 span{
  color: var(--yellowneon);
}

.section_2_text{
  max-width: 1000px;
  margin-right: 5em;
  overflow: hidden
}

.section_2_text p{
  font-size: 1.8em;
  line-height: 1.5em;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-family: "Kreon", serif;

}

.section_2_text p:nth-child(2){
  padding-top: 1.5em;
  font-size: 2.2em;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;

}

/* section 3 */
.section_3{
  max-width: auto;
  padding: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  color: var(--background);

}

/*project*/

.section_3_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2em;
  padding-top: 15em;
}

.section_3_header h1{
  font-size: 3em;
}

.section_3_header div{
  font-size: 1em;
  line-height: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section_3_header div h2{
  margin: auto 1em;
  color: rgb(87, 87, 87);
  font-family: "Kreon", serif;
}

.section_3_header div span{
   color: var(--red--color);
}

/*project contain */
.project_contain{
  margin-top: 15em;
}

.contain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 15em;
  
}

.project_detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%;

}

.project_detail h3{
  font-size: 1.5em;
  color: var(--red--color);
}

.project_detail p{
  margin-top: 2em;
  font-size: 1.2em;
  line-height: 1.5em;
}

.project_detail p span{
  background: var(--yellowneon);
  padding: 5px;
  margin-right: 15px;
}


.project_detail .image_detail{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2em;
}

.project_detail img{
  border-radius: 80px;
}


.project_pictures{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: 60%;
}

.project_pictures img{
  height: auto;
  margin-left: 3em;
}

.project_pictures img:first-child{
  border-radius: 10px;
}


footer{
  max-width: 1440px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(/images/footer_background.jpg) no-repeat center top;
  padding: 7rem;
  color: var(--white-color);
  text-align: center;
  gap: 1em;
}

footer p{
  font-family: "Kreon", serif;
  font-size: 1.3em;
}





@media (max-width: 990px){
  
  /* close menu */
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }

  .navbar{
    padding: 0 2rem;
  }
  

  /* show  = berger  */
  .navbar .toggle_btn{
    display: block;
  }

  /* show  = dropdonw  */
  .dropdown_menu{
    display: block;
  }
  
}