@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kurale&family=Laila:wght@300;400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

/* my name logo in menu bar*/
@font-face {
  font-family: 'pacifico';
  src: url('fonts/pacifico.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.animated-text {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(90deg, #AD343e, #f2af29, #1f1f1f, #AD343e);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-move 3s infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}


:root{
  --white-color: #ffffff ;
  --red--color: #AD343e;
  --grey-color: #807f7f;
  --yellow-color: #f2af29;
  --black-color: #131313;
  --background: #272727;
  --yellowneon: #f3ba58;
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --shadow_text: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
  

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  
}

.flex_row {
  display: flex;
  flex-direction: row;
}


body {
    background: var(--background);
    font-family: "Afacad Flux", serif;
    letter-spacing: 2px;
    scroll-behavior: smooth;
    
  }
  
.navbar li{
  list-style: none;
}

h1,h3,h2{
  font-family: "Syncopate", sans-serif;
}


i{
  color: var(--red--color);
}

.header_cover{
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
}

header{
  margin: 0 1rem;
}


.navbar{
  max-width: 1500px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color:var(--white-color) ;
  padding: 0 3rem;
  margin: 3em auto 1rem auto;
  border-radius: 2em;
}

.navbar .logo a{
  text-decoration: none;
  color: var(--black-color);
  font-size: 2em;
}

.logo_name{
  font-family: 'pacifico';
  color: #AD343e;
  font-size: clamp(12px, 5vw, 30px); ;
  
}

a{
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.4em;
}

a.active{
  color: var(--red--color);
}

a:hover{
  color:  var(--red--color);
}

.navbar .links{
  display: flex;
  gap: 2em;
}

.navbar .toggle_btn{
  color: antiquewhite;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


/* dropdown */
.dropdown_menu{
  display: none;
  position: absolute;
  margin: 0 auto;
  height: 0;
  width: 94%;
  background-color: var(--white-color);
  backdrop-filter: blur(3em);
  -webkit-backdrop-filter: blur(3em);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

/* important for put class in side dropdown*/
.dropdown_menu.open{
  height: 200px;
  padding: 2em 0em;
}

.dropdown_menu li{
  padding: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.text_header{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2em;
}

.text_header .icons_contact ul{
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 2em;

}

.text_header .icons_contact li{
  list-style: none;
}

.text_header .icons_contact i{
  background-color: var(--white-color);
  padding: .8em;
  border-radius: 2em;
  font-size: 1.5em;
}

.text_header .icons_contact i:hover{
  background-color: var(--yellowneon);
}

.text_header .header_details{
  margin: 2.5em auto ;

}

.text_header .header_details h1{
  color: var(--white-color);
  font-size:clamp(2rem, 5vw, 4rem);
  line-height: 1.8em;
}


.text_header .header_details span{
  color: var(--yellow-color);

}

.text_header .header_details h4{
  color: var(--grey-color);
  font-size: clamp(16px, 5vw, 2rem);
  padding: 1em auto;
}

/* section 2 */
.section_2{
  max-width: 100%;
  margin: 0 auto;
  height: 80vh;
  box-sizing: border-box;
  display: flex;
  background: url(../images/profile.jpg) no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
}

.free_box img{
  border-radius: 5px;
  max-width: 100%;
}


.section_2_text{
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden
}

.section_2 span{
  color: var(--red--color);
}

.section_2_text p:first-child{
  max-width: 550px;
  font-size:clamp(1.3rem, 5vw, 2rem);
  line-height: 1.5em;
  word-spacing: 5px;
  letter-spacing: 2px;

}

.section_2_text p:nth-child(2){
  padding-top: 1.5em;
  color: var(--black-color);
  font-size:clamp(1rem, 5vw, 1.8rem);
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
}


/* section 3 */
.section_3{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  color: var(--background);
}

/*project*/

.section_3{
  width: 100%;
  margin: 0 auto;
}
.section_3_header {
  display:block;
  text-align: left;
  padding: 3em 2em 2em 2em;
}

.section_3_header h1{
  font-size:clamp(1.5rem, 4vw, 2.5rem);
  padding-bottom: .6em;
  padding-top: 2em;
}
/*project contain */
.project_contain{
  padding: 0 3rem;
  margin-top: 12em;
}

.contain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 15em;
  gap: 1rem;
}

.project_contain .contain h3{
  font-size:clamp(1rem, 3vw, 1.2rem);
  color: rgb(87, 87, 87);
}

.section_3_header div span{
   color: var(--red--color);
}


.project_detail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%;

}

.project_detail h3{
  font-size: 1.4em;
  color: var(--red--color);
}

.project_detail p{
  padding: 2em 0;
  font-size: 1em;
  line-height: 1.5em;
}



.project_detail .image_detail{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.project_detail img{
  border-radius: 100px;

}

.project_pictures{
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
}

.project_pictures img{
  border-radius: 5px;
}

.project_mobile{
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
}

footer{
  width: 100%;
  margin: auto;
  height: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  color: var(--white-color);
  text-align: center;
  gap: 1em;
}

footer h2{
  margin-bottom: 2rem;
  font-size:clamp(2rem, 4vw, 3rem);
  
}

footer .contact_me {
  border: 1px solid var(--yellow-color);
  font-size:clamp(.8rem, 2.6vw, 1.5rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 20px;
}





@media (max-width: 768px){
  
  /* close menu */
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }

  .navbar{
    padding: 0 2rem;
  }
  

  /* show  = berger  */
  .navbar .toggle_btn{
    display: block;
  }

  /* show  = dropdonw  */
  .dropdown_menu{
    display: block;
  }
  
  .project_contain{
    margin-top: 6em;
  }

    /* section 2 */
  .section_2{
    background: url(../images/profile_750*800.jpg) no-repeat center top;
  }

  /* section 2 */
.section_2{
  padding: 2.5rem 0;
  display: block;
}


  .section_3_header {
    padding-bottom: 0em;
    padding-top: 4em;
  }

  .project_pictures img{
    max-width: 500px;
  }

  .contain{
    margin-bottom: 10em;
  }


}


@media (max-width: 568px){

  .project_pictures img{
    max-width: 420px;
  }


footer{
  padding: 4rem 2rem;
}


}



