/* font  */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Borel&family=Lunasima&family=Noto+Sans&family=Roboto+Mono&display=swap'); /* font-family: 'Borel', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); /* font-family: 'Roboto Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Slab&display=swap');/*font-family: 'Lilita One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Lilita+One&family=Roboto+Slab&display=swap');

:root{
    --pink: #ff89bf;
    --lightpink: #fec3df;
    --yellow:#ffeea8;
    --sky:#72f0ec;
    --lightsky:#a0f3ed;
    --purple:#9fa3e3;
    --lightpurple:#BDC0F7;
    --black: black;
    --white: white;
    --neon-text-color: #ff89bf;
    --neon-border-color: #72f0ec;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Slab', serif;
    color: var(--black) ;
    overflow-x: hidden;
    min-height: 100vh;
}

/*global tag*/
h1{
    font-family: 'Lilita One', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--purple);
}

span{
    font-size: 9rem;
    color: var(--pink);
}

h6{
    font-size: 1.1rem;
}

/*start nav*/
header{
    position: fixed;
    width: 100%;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    z-index: 1;
    transition: all 0.5s ease;
    box-sizing: border-box;

}

header img{
    width: 60px;
    cursor: pointer;
}


.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}

.nav ul li {
    list-style: none;
    margin-left: 30px;
}

.nav  ul li a{
    text-decoration: none;
    color: var(--pink);
    transition: all 0.5s ease;
}

.nav ul li a:hover,
.nav ul li a.active{
    color: var(--white);
    background: var(--lightpink);
    padding: 9px 9px;
    border-radius: 10px 10px;
}

.btn .sky{
    border-radius: 15px;
    text-decoration: none;
    padding: 13px 12px;
    background:var(--sky);
    color: white;
    transition: all 0.5s ease;
}

.btn .sky:hover{
    background:var(--purple);
    color: white;
}

#menu-icon{
    font-size: 25px;
    color: var(--sky);
    cursor: pointer;
    z-index: 1001 ;
    display: none ;
}

#menu-iconX{
    font-size: 25px;
    color: var(--sky);
    cursor: pointer;
    z-index: 1001 ;
    display: none ;

}



/*start section*/
section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

section:nth-child(odd){
    background: var(--lightpink);   
}

/*start section home*/
#home_section{
    background-image: url("/pictures/home/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    padding: 100px 20px 20px 20px;
   
    
}

.home .text-home{
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    */
    
    width: 100%;
    margin: 40px;

}

.home .text-home h1{
    margin-bottom: 10px ;

}

.home .text-home h2{
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 20px ;

    
}

.home .text-home button{
    width: 20%;
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
    padding: 7px;  
    border: 2px double var(--white);
    background-color: var(--white);
    animation: flicker 1.5s infinite alternate; 
}


@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }

}


.home .text-home button:hover{
    background-color: var(--yellow) ;

}

.home .text-profile{
    animation-name: infiniteupdown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;    
}

@keyframes infiniteupdown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}


.home .text-profile img{
    width: 300px;
    border-radius: 127px;
    border: 5px solid var(--yellow);
    padding: 10px;
    margin: 40px;
    animation-name: animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
    animation-play-state: running;
}


@keyframes animation {
    50.0%  {background-color:#BDC0F7}
}




@media ( max-width: 769px){
    header{
        transition: .2s;
    
    }

    .nav{
        position: absolute;
        top: 0;
        right: 100%;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 999;
        padding-top: 35px ;
        background: rgba(193, 221, 255, 0.46);
        -webkit-backdrop-filter: blur(15px);

    }
    
    #menu-icon{
        display: flex;
        text-align: center;
        align-items: center;
        z-index: -1;
        color: var(--pink);

    }

    #menu-iconX{
        display: block;
        z-index: 999;
        color: var(--pink);
      
    }

    .sky{
        display: none;
    }

    .nav ul{
        display: flex;
        flex-direction: column;

    }




    .nav ul li {
        margin-left: 30px;
        margin-top: 35px;
    }

    nav.open{
        right: -60%;
    }


    /*start section home*/
    #home_section{
        display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }

    .home .text-home{
        text-align: center;
    }

    .home .text-home h1{
        font-size: 35px;

    }

    .home .text-home h2{
        font-size: 15px;
    }


    
}